doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title International Bass Station
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css 
    // bower:css 
    link(rel='stylesheet', href='bower_components/normalize.css/normalize.css')
    // endbower 
    // endbuild 
    // build:css(.tmp) styles/main.css 
    link(rel='stylesheet', href='styles/main.css')
    // endbuild 
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  body(ng-app="intbassApp")
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->

    <!-- Add your site or application content here -->
    div(id="intbass-wrapper" class="scrollContainer")
      div(class="scrollContent")
        section(id="title")
          div(id="bassstation")
          div(id="earthrise")
          div(id="panelbg")
            div(class="tapertop")
        section(id="broadcast" ng-controller="broadcastController")
          div
            span(id="tunein" onClick="location.href='//intbass.com/pls/intbass-mp3-hi.pls'") &nbsp;TUNE IN
            span(id="playing" ng-bind="playing" data-fittext-load-delay="2500" data-fittext data-fittext-nl data-fittext-min="10" data-fittext-max="32") TUNES
            span(id="artist" ng-bind="artist" data-fittext-load-delay="2500" data-fittext data-fittext-nl data-fittext-min="8" data-fittext-max="20") ARTIST
            div
               audio(hidden="hidden" preload="none")
                  source(src="http://intbass.com:8000/intbass-ogg-hi" type="audio/ogg; codecs=vorbis")
                  source(src="http://intbass.com:8000/intbass-mp3-hi" type="audio/mpeg; codecs=mp3")
        section(id="archive", class="panel")
          table
            tr
              th mix
              th recorded on
              th(align="left") notes
              th file size
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-always_changin.mp3") always changin'
             td(align="right") March 11th, 2015
             td 40 mins of dnb
             td(align="right") 57MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-ddub_approved.mp3") ddub approved
             td(align="right") July 23rd, 2014
             td 1.5 hrs of dnb
             td(align="right") 122MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-dr_idiot.mp3") dr. idiot
             td(align="right") June 18th, 2014
             td 1.5 hrs of dnb
             td(align="right") 124MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-swingindnb.mp3") swingin' dnb
             td(align="right") March 26th, 2014
             td 36 mins of electro swing followed by 25 mins of dnb
             td(align="right") 84MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-spring_bounce.mp3") spring bounce
             td(align="right") February 26th, 2014
             td 46 mins of dnb
             td(align="right") 63MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-hittinThirty.mp3") hittin' thirty
             td(align="right") March 20th, 2013
             td 63 mins of dnb
             td(align="right") 86MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/greenleader_b2b_tofu-yinAndBang.mp3") yin and bang
             td(align="right") February 27th, 2013
             td 2 hrs of dnb, greenleader b2b tofu
             td(align="right") 163MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-wedNesNightMadness.mp3") wednesnight madness
             td(align="right") January 23rd, 2013
             td 60 mins of dnb
             td(align="right") 82MB
            tr
             td(align="center")
               a(href="http://www.paulgrouchy.com/tofu/tofu-headInTheClouds.mp3") head in the clouds
             td(align="right") January 9th, 2013
             td 52 mins of dnb
             td(align="right") 71MB
          small Right click on a mix name, then "Save Link As..." or some such thing to download the mp3.
          small Last updated on March 24th, 2015

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')
      
    // build:js(.) scripts/vendor.js 
    // bower:js 
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-messages/angular-messages.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-touch/angular-touch.js")
    script(src="bower_components/ngFitText/src/ng-FitText.js")
    script(src="bower_components/greensock/src/uncompressed/TweenMax.js")
    script(src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js")
    // endbower 
    // endbuild 

    // build:js({.tmp,app}) scripts/scripts.js 
    script(src="scripts/newrelic.js")
    script(src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js")
    script(src="scripts/app.js")
    script(src="scripts/scroll.js")
    script(src="scripts/controllers/main.js")
    // endbuild 


    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-62031017-1', 'auto'); ga('send', 'pageview');
