doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title International Bass Station
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    != "\n<!-- build:css(.) styles/vendor.css -->\n"
    link(rel='stylesheet', href='bower_components/normalize.css/normalize.css')
    != "\n<!-- endbuild -->\n"
    link(href='https://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css')
    != "\n<!-- build:css(.tmp) styles/main.css -->\n"
    link(rel='stylesheet', href='styles/main.css')
    != "\n<!-- endbuild -->\n"
    //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  body(ng-app="intbassApp")
    != "<!--[if lt IE 8]>\n"
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    != "<![endif]-->\n"

    div(id="intbass-wrapper" class="scrollContainer")
      div(class="scrollContent")
        section(id="title")
          div(id="bassstation")
          div(id="earthrise")
          div(id="panelbg")
            div(class="tapertop")
        section(id="broadcast" ng-controller="broadcastController")
          div
            span(id="tunein" onClick="location.href='//intbass.com/pls/intbass-mp3-hi.pls'") &nbsp;TUNE IN
            span(id="playing" ng-bind="playing" data-fittext-load-delay="200" data-fittext data-fittext-nl data-fittext-min="10" data-fittext-max="32")
            span(id="artist" ng-bind="artist" data-fittext-load-delay="200" data-fittext data-fittext-nl data-fittext-min="8" data-fittext-max="20")
            div
               audio(hidden="hidden" preload="none")
                  source(src="http://intbass.com:8000/intbass-ogg-hi" type="audio/ogg; codecs=vorbis")
                  source(src="http://intbass.com:8000/intbass-mp3-hi" type="audio/mpeg; codecs=mp3")
        section(id="archive", ng-controller="archiveController")
          div(ng-repeat="mix in mixes" class="mix")
            a(href="{{mix.url}}" class="mixtitle") {{ mix.title }}
            div {{ mix.description }}
            div(ng-repeat="dj in mix.djs")
              {{ dj }}

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.0.min.js"><\/script>')

    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-animate/angular-animate.js")
    script(src="bower_components/angular-aria/angular-aria.js")
    script(src="bower_components/angular-cookies/angular-cookies.js")
    script(src="bower_components/angular-messages/angular-messages.js")
    script(src="bower_components/angular-resource/angular-resource.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.js")
    script(src="bower_components/angular-touch/angular-touch.js")
    != "\n<!-- build:js(.) scripts/vendor.js -->\n"
    script(src="bower_components/ngFitText/src/ng-FitText.js")
    != "\n"
    script(src="bower_components/greensock/src/uncompressed/TweenMax.js")
    != "\n"
    script(src="bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js")
    != "\n"
    script(src="bower_components/scrollmagic/scrollmagic/uncompressed/plugins/animation.gsap.js")
    != "\n<!-- endbuild -->\n"

    != "\n<!-- build:js({.tmp,app}) scripts/scripts.js -->\n"
    script(src="scripts/newrelic.js")
    != "\n"
    script(src="scripts/rollbar.js")
    != "\n"
    script(src="scripts/app.js")
    != "\n"
    script(src="scripts/scroll.js")
    != "\n"
    script(src="scripts/fixtures.js")
    != "\n"
    script(src="scripts/controllers/main.js")
    != "\n"
    != "\n<!-- endbuild -->\n"


    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
      script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-62031017-1', 'auto'); ga('send', 'pageview');
